<div class="container mx-auto">
    <div class="flex flex-col">
        <div class="w-full">
            <div class="p-4 border-b border-gray-200 shadow">
                <!-- <table> -->
              <table class= "w-full text-sm text-left text-gray-500 dark:text-grey" id="users-datatable" data-source="<%= school_details_path(format: :json) %>" data-controller="dataTable">
                <thead>
                  <tr class='bg-blue-300 px-6 py-3 text-white'>
                    <th>Teacher</th>
                    <th>School</th>
                    <th>School Year</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
